.intro{
  font-size: 56px;
  font-family: impact;
}

.subhead{
  font-size: 22px;
  font-style: italic;
  display: inline-block;
}

.body{
  font-family: sans-serif;
}

.important{
  font-weight: bold;
}
